.primaryBg {
    background-color: #FFF !important;
    color: #000;
}

.primaryBtn, .primaryBtn:hover {
    background-color: #0dbb07;
    color: #FFF;
    font-weight: bold;
    border-color: #0dbb07;
}

.filters-wrap {
    border-right: 1px solid #dcdcdc;
}

.customSelect {
    border-bottom: 1px solid #dcdcdc;
    width: 80%;
}

.logo {
  height: 32px;
  margin: 20px;
  color: #0dbb07;
  background-color: transparent;
}

.boxShadow {
  box-shadow: 1px 1px 5px #DCDCDC;
}

.header-navigation li {
    border-left: 1px solid #dcdcdc;
}

.dotted-menu {
    transform: rotate(90deg);
    color: #000;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: transparent;
    color: #0dbb07;
}